[Unit]
Description=MQTT to ThingSpeak bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mqspeak
Restart=always

[Install]
WantedBy=multi-user.target
